@{
    ViewData["Title"] = "Home Page";
    var selectedValue = ViewData["selectedValue"]?.ToString();

    ViewBag.Types = new List<SelectListItem> {
        new SelectListItem { Value = "latest", Text = "Date", Selected = selectedValue == "latest" },
        new SelectListItem { Value = "atoz", Text = "A-Z", Selected = selectedValue == "atoz" },
        new SelectListItem { Value = "bycategory", Text = "By Category", Selected = selectedValue == "bycategory" },
        new SelectListItem { Value = "bycategoryztoa", Text = "By Category (names: z-a)", Selected = selectedValue == "bycategoryztoa" }
    };
   }

<div class="text-center">
    <h1 class="display-4">Welcome to the Pet Super Store</h1>
    <h5>Below you can find a list of all available pets. If you would like to put a pet up for adoption with us, click the "Post" button above</h5>
</div>

<div class="input-container">
    <div>
        <label>sort by:</label>
        <form asp-action="HandleSelectChange">
            <select asp-items="ViewBag.Types" name="selectedValue" onchange="this.form.submit()"> <!-- name="selectedValue"  -->
                
            </select>
        </form>

        @if (ViewData["id"] != null) 
        {
            <h1>ID: @ViewData["id"]</h1>
        }
    </div>
</div>

<div class="text-center">
    @if (ViewData["pets"] != null)
    {
       
        <div class="pet-data-container">
            @foreach (var pet in ViewData["pets"] as IEnumerable<dynamic>)
            {
                <div class="individual-pet-container">
                    name @if (pet.name != null)
                    {
                           <p>@pet.name</p>
                    }
                    category @if (pet.category != null)
                    {
                        category: <p>@pet.category.name</p>
                    } else {
                        <p>no category</p>
                    }
                    </div>
            }

        </div>
    } else
    {
        <div> Hello </div>
    }

</div>

<style>
    .pet-data-container {
    }

    .individual-pet-container {
        border: 1px solid red;
        padding: 2em;
        margin: 2em;
        display: inline-block
    }

    .input-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 2em;
        text-align: center;
        font-size: 1.5em;
    }
</style>