@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Pet Store</h1>
    <p>Below you can find a list of all available pets. If you would like to put a pet up for adoption with us, click the "Post" button above</p>
</div>

<div class="text-center">
    <p>sadfasdfasdf</p>

     <p>@ViewData["ApiData"]</p>

    <p>sadfasdfasdf</p>

</div>
